#projs {
	background-color: #08c76b;
	margin-top: 0;

	.portfolio-card {
		height: 230px;
		background-size: cover;
		overflow: hidden;
		position: relative;

		.details {
			color: #141414;
			background-color: rgba(#38e08f, .8);
			position: absolute;
			bottom: 0;
			top: 0;
			width: 100%;
			opacity: 0;
			transition: opacity 300ms ease;

			div {
				position: absolute;
				bottom: 0px;
				padding: 20px;
				transform: translateY(100%);
				transition: transform 300ms ease;
			}

			h3 { font-weight: 700; }
			p { font-weight: 600; }
		}

		&:hover .details {
			opacity: 1;

			div {
				transform: translateY(0);
			}
		}
	}

	.portfolio-content {
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 50px;
		overflow-x: auto;
		visibility: hidden;
		opacity: 0;
		transition: all 300ms;

		.content {
			background-color: #FFF;
			min-height: 800px;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
	.portfolio-content-v {
		visibility: visible;
		opacity: 1;
	}
}