@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&family=Merriweather:wght@400;900&display=swap');

.serif { font-family: 'Merriweather'; }
.sans-serif { font-family: 'Lexend'; }

body {
	@extend .sans-serif;
	font-weight: 500;
}

@import 'header';

.wrapper { max-width: 800px; }

.h0 {
	font-size: 4rem;
}

.button {
	background-color: #fff;
	padding: 10px 20px;
	border: 0;
	font-weight: 500;
	border: 2px solid #fff;
	border-radius: 4px;
}
.button-green {
	border-color: #09ed70;
	background-color: transparent;
	color: #09ed70;
	transition: all 300ms;

	&:hover {
		background-color: #09ed70;
		color: #141414;
	}
}